* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Poppins', 'Noto Sans Bengali', sans-serif;
}

:root {
    --color-primary: #0090FF;
}

html,
body {
    background-color: #F5F5F5;
}

.container {

    width: 100%;

    padding: 0 50px;

    box-sizing: border-box;
}

.row {

    display: flex;

    flex-wrap: wrap;

}

/* header */
header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F9F9FB;
}

header .row {
    align-items: center;
    height: 80px;
}

header .col-md-6 {
    width: 50%;
    flex: 0 0 auto;
}

.site-logo {}

.site-logo a {
    display: block;
    width: 120px;
    line-height: 0;
}

.site-logo img {
    width: 100%;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    line-height: 0;
}

.header-content .notifi {
    margin-right: 14px;
}

.header-content .notifi button {
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 4px;
    background-image: url(../images/notification-icon.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
}

.user-short-info {
    display: flex;
}

.user-short-info .user-img {
    margin-right: 12px;
}

.user-short-info .user-img img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #F2F2F2;
    object-fit: cover;
}

.user-short-info .user-name {}

.user-short-info .user-name p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #131D29;
    margin-bottom: 5px;
}

.user-short-info .user-name span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #A5ACB5;
}

.header-content .toggle {}


/* Search bar */
.search-sec {
    padding: 15px 0;
}

.search-sec .row {
    justify-content: space-between;
    align-items: center;
}

.search-sec .row .col-md-6 {}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.breadcrumb .btn-back {
    background-image: url(../images/arrow-left.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: center center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    display: block;
    margin-right: 15px;
}

.breadcrumb ul {
    list-style: none;
}

.breadcrumb ul li {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.breadcrumb ul li::after {
    content: "";
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 11px;
    height: 9px;
    margin-left: 13px;
    margin-right: 13px;
}

.breadcrumb ul li:last-child::after {
    content: none;
}

.breadcrumb ul li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #131D29;
}

.breadcrumb ul li span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7F7F91;
}

.search-area {}

.search-box {}

.search-box form {
    width: 400px;
    position: relative;
}

.search-box form label {
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 15.6px;
    height: 15px;
    display: inline-block;
    position: absolute;
    left: 15.5px;
    top: 50%;
    transform: translate(0, -50%);
}

.search-box form input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    height: 44px;
    padding: 14px 25px 14px 45px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7F7F91;
}

.search-area .search-sugg {
    display: none;
}

.player-sec {
    line-height: 0;
    margin-bottom: 20px;
}

.player-area {}

.player-area iframe {
    width: 100%;
    height: 90vh;
}

.player-area .player-elements {
    display: none;
}

.content-sec {}

.content-sec .row {}

.content-sec .content-details {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 30px;
    width: 70%;
}

.content-sec .content-details .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.content-sec .content-details .title h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #131D29;
}

.content-sec .content-details .title .time {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: inline-flex;
    padding-top: 10px;
}

.content-sec .content-details .channel-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    line-height: 0;
}

.content-sec .content-details .channel-info .like-btn {}

.content-sec .content-details .channel-info .like-btn button {
    background: #FBFBFB;
    border-radius: 23px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #131D29;
    padding: 10px 15px;
}

.content-sec .content-details .video-description {
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    padding: 20px;
    padding-top: 14px;
    position: relative;
}

.content-sec .content-details .video-description h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #131D29;
    margin-bottom: 11px;
}

.content-sec .content-details .video-description p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #7F7F91;
}

.content-sec .content-details .video-description button {
    width: 22px;
    height: 22px;
    background: #F1F9FF;
    border: 1px solid #F5F5F5;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, 0);
}